@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #1B2330;
$primary-color-lighter: #202A3C;
$secondary-color: #63E1D9;
$primary-color-text: #ffffff;
$footer-color: #0B1524;
$input-text: #C0C0C0;

body {
    background-color: $primary-color;
    background-image: url("/images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 7%;
    background-size: contain;
    // background-attachment: fixed;

    @include media-breakpoint-up(sm) {
        background-image: url("/images/bg-curvy-desktop.svg");
        background-position: center 25%;
    }
}

h1,h2, h3, h4, p {
    color: $primary-color-text;
}

.navbar {
    padding: 1rem;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(sm) {
        padding: 2rem;
    }

    &-brand {
       .icon {
            height: 24px;
            width: 70px;

            @include media-breakpoint-up(sm) {
                height: 34px;
                width: 100px;
            }
       }
    }

    &.navbar-background-color {
        background-color: $primary-color;
    }

    .nav-item {
        .nav-link {
            font-size: .7rem;
            color: $primary-color-text;
        }
    }
}

.modal {

    .modal-content {
        background-color: $footer-color;
        color: $primary-color-text;

        .close {
            color: $primary-color-text;
        }
    }
    .my-btn-primary {
        background-color: $secondary-color;
        color: $primary-color-text;
        border-radius: 10px;
    }
}

.hero {
    margin-bottom: 7rem;

    .intro-picture-container {
        height: 225px;
        width: 304px;

        @include media-breakpoint-up(sm) {
            height: 350px;
            width: 450px
        }


        @include media-breakpoint-up(md) {
            height: 534px;
            width: 720px;
        }

        .image-intro {
            height: auto;
            width: 100%;
        }

    }

    .title {
        .title-text {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.5;
            font-family: Raleway;

            @include media-breakpoint-up(sm) {
                font-size: 30px;
            }

            @include media-breakpoint-up(md) {
                font-size: 40px;
            }
        }
    }

    .texto {
        font-size: 14px;
        font-family: Open Sans;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .btn {
        background-color: $secondary-color;
        color: $primary-color-text;
        font-family: Raleway;
        border-radius: 34px;
        padding: 16px 81px;

        @include media-breakpoint-up(sm) {
            padding: 10px 60px;
        }
    }

}

.features {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;

        .img-container {
            height: 80px;
            width: 80px;
            margin-bottom: 2rem;

            .img-icon {
                height: auto;
                width: 100%;
                
            }
        }

        .titles {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 20px;
            }
        }

        .texto {
            text-align: center;
            font-weight: 400;
            font-size: 14;
            line-height: 1.5;

            @include media-breakpoint-up(sm) {
                max-width: 390px;
            }
        }
    }
}


.stay-productive {
    margin-bottom: 10rem;

    .my-alignment {
        justify-content: center;

        @include media-breakpoint-up(sm) {
            align-items: center;
        }
    }

    &__img-container {
        width: 304px;
        height: 229.27px;
        margin-bottom: 3rem;

        @include media-breakpoint-up(sm) {
            width: 100%;
            height: auto;
        }

        .img-stay-productive {
            width: 100%;
            height: auto;
        }
    }

    &__content {
        .stay-productive__title {
            font-size: 18px;
            font-weight: 700;

            @include media-breakpoint-up(sm) {
                font-size: 40px;
                max-width: 400px;
            }
        }

        .stay-productive__first-paragraph,
        .stay-productive__second-paragraph {
            font-size: 14px;
            margin-bottom: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 16px;
            }
        }
    }

    &__link {
        text-decoration: underline;
        color: $secondary-color;

        .link {
            font-size: 12px;
            color: $secondary-color;

            @include media-breakpoint-up(sm) {
                font-size: 16px;
            }
        }
    }
}


.testimonials {
    padding-bottom: 20rem;

    .background-card {
        background-color: $primary-color-lighter;
        margin-bottom: 1rem;

        .card-body {
            position: relative;

            .background-quote {
                position: absolute;
                top: -20px;
                left: 0;
                z-index: -1;
                width: 25px;
                height: 20px;
            }

            .card-text {
                font-size: 10px;
                font-weight: 400;
            }
        }

        .card-footer {
            border-top: 0px;

            .profile-image {
                height: 24px;
                width: 24px;
                border-radius: 50%;
                margin-right: 1rem;
            }

            .profile-name, 
            .profile-title {
                margin-bottom: 0;
            }

            .profile-name {
                font-size: 10px;
                font-weight: 700;
            }

            .profile-title {
                font-size: 7px;
                font-weight: 400;
            }
        }
    }
}




.background-footer {
    position: relative;

    .formular {
        position: absolute;
        top: -18%;

        @include media-breakpoint-up(sm) {
            left: 50%;
            transform: translate(-50%, 0);
        }

        .background-formular {
            background-color: $primary-color;
            box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.25);

            @include media-breakpoint-up(sm) {
                min-width: 500px;
            }
    
            .formular__title {
                font-size: 18px;
                font-weight: 700;
                font-family: Raleway;
                margin-top: 2rem;

                @include media-breakpoint-up(sm) {
                    font-size: 32px;
                }
            }
    
            .formular__paragraph {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 2rem;

                @include media-breakpoint-up(sm) {
                    font-size: 14px;
                    max-width: 700px;
                }
            }

            .input-text {
                border-radius: 34px;
                font-size: 10px;
                color: $input-text;
                padding: 22px 30px;
                margin-bottom: .5rem;
                &::placeholder {
                    color: $input-text;
                }
            }
    
            .btn {
                background-color: $secondary-color;
                color: $primary-color-text;
                font-family: Raleway;
                padding: 10px 30px;
                border-radius: 34px;
                margin-bottom: 2rem;

                @include media-breakpoint-up(sm) {
                    font-size: 14px;
                    padding: 11px 15px;
                    margin-bottom: 0;
                }
            }
        }
    }

    padding-top: 15rem;
    background-color: $footer-color;

    .footer-icon-container {
        margin-bottom: 2rem;
    }

    .my-margin-bottom {
        margin-bottom: 5rem;

        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
        }
    }

    .texto {
        color: $primary-color-text;
    }

    .number,
    .email {
        font-size: 14px;
    }

    .footer__third-column,
    .footer__four-column {
        display: flex;
        flex-direction: column;

        .texto {
            margin-bottom: 1rem;

        }
    }

    .footer__third-column {
        margin-bottom: 1.5rem;
    }

    .footer__four-column {
        margin-bottom: 1.5rem;
    }

    .social-icons {
        padding-bottom: 2rem;

        .fa {
            color: $primary-color-text;
        }
    }

}